.vl-data-table {
  width: 100%;

  td,
  th {
    vertical-align: top;
    padding: 1rem 0.5rem;
  }

  th {
    background-color: #f7f9fc;
    font-weight: 600;
  }
}

.vl-info-tile {
  height: 100%;
}

.vl-pill {
  font-weight: 600;
}

.vl-link-button {
  margin-bottom: 1rem;
}

address {
  font-style: normal;
  line-height: 1.4;
}
