version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:20.11.1
    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            npm ci
            npm run build

  update-ovo-organizations:
    docker:
      - image: cimg/node:20.11.1
    steps:
      - checkout

      - add_ssh_keys:
          fingerprints:
            - 'SHA256:8pdCUeEZ0d+VSWD6z88QTfUn94Iy3NjsmjZ1fjyX5Yk'

      - run:
          name: Install system dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y jq git curl

      - run:
          name: Configure Git
          command: |
            git config --global user.name "OSLO-support"
            git config --global user.email "OSLO-support@vlaanderen.be"

      - run:
          name: Install OVO converter
          command: sudo npm install -g @oslo-flanders/org-to-ttl-converter

      - run:
          name: Fetch and convert OVO organizations
          command: ./scripts/fetch-and-convert-OVO.sh /tmp/output/organisations /tmp/organisaties.json
          no_output_timeout: 60m

workflows:
  version: 2

  update-ovo-daily:
    triggers:
      - schedule:
          cron: '31 12 * * *' # Run daily at 2 AM UTC
          filters:
            branches:
              only:
                - OVO-codes
    jobs:
      - update-ovo-organizations:
          context: ovo-converter
